.forgotmainpage{
  height: 60vh;
  width: 28vw;
  margin: auto;
  margin-top: 20vh;
  border-radius: 1vh;
  border: solid 2px #ccc;
}
.icon-widthlock{
  height: 12vh;
  width: 10vw;
}
.lock-icon{
margin-left: 9vw;
  margin-top: 6vh;
}
.forgot-text{
  font-size: 3.8vh;
  font-weight: bold;
  text-align: center;
  margin-top: 5vh;
  margin-bottom: 2vh;
}
.downtext{
  font-size: 2.2vh;
  text-align: center;
  margin-bottom: 5vh;
  text-decoration: none;
}
.outletof-forgot{
  border-radius: 1vh;
  height: 6vh;
  width: 20.5vw;
  border:  solid 1px #ccc;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.mail-boxicon{
  margin-top: 1.5vh;
  margin-left: 1vw;
}
.input-forgot{
  margin-left: 1vw;
}
.line{
  height: 6vh;
  width: 0.1vh;
  margin-left: 2vw;
  margin-top: -0vh;
}
.forgotpassword-input12{
  border: none;
  margin-top: 1.5vh;
  outline-width: 0px;
  
}
.forgot-buttn{
 margin-left: 3.6vw;
  margin-top: 2vh;
  border: none;
  width: 21vw;
  height: 7vh;
  font-size: 2vh;
  border-radius: 1vh;
  color: white;
  background-color: rgb(21, 21, 136);
}

.resetmain{
  height: 55vh;
  width: 27vw;
  margin: auto;
  margin-top: 20vh;
  border-radius: 1vh;
  border: solid 2px #ccc;
}
.reset-text{
  margin-top: 5vh;
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
}
.Passwordreset{
  margin-left: 4vw;
  margin-top: 3vh;
}
.passwordname{
  font-size: 2.2vh;
  font-weight: 500;
}
.name-reset{
  height: 4.5vh;
  border-radius: 1vh;
  width: 19vw;
  margin-top: 1vh;
  border: none;
  border: 1px solid #ccc;
}
.reset-butn{
  margin-top: 5vh;
  margin-left: 4vw;
  border: none;
  background-color: rgb(42, 42, 151);
  color: white;
  width: 19vw;
  padding: 10px 0px;
  border-radius: 1vh;
}

.toast_success1{
  margin-top: 100px;
}

/* Existing styles */

.downtext a {
  text-decoration: none;
  color: blue; /* Set the color as per your design */
}

.downtext a:hover {
  color:green; /* Change this to your desired hover color */
}
.r-span{
  color: rgb(196, 12, 12);
}