.forgot-main{
    border: 1px solid gray;
   width: 30vw;
   height: 83vh;
    margin-top: 3pc;
    content: fixed;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 35%;
   border-radius: 5px;
  }
  .lock-adjust{
    display: flex;
    
    height: 10vh;
    width: 5vw;
    background-color: white;
    border-radius: 40px;
    margin-top: 1vh;
  }
  .lock{
    margin-top: 0%;
  }
  .clock{
    display: flex;
    height: 9vh;
    width: 4vw ;
    
  }
  .p-tag-fontset{
    color:black;
    font-size: large;
    font-weight: bold;
  }
  .p-tag-downset{
    font-size: small;

  }
  .inputtag-email{
    width: 23vw;
    font-size: small;
    height: 5vh;
    border-radius: 5px;
    border-color: rgb(255, 255, 255);
     margin-bottom: 8px;
     background-color: lightgrey;
  }
  .reset-password-button{
    width: 24vw;
    font-size: small;
    height: 5vh;
    color: white;
    
    border-radius: 5px;
    background-color: rgb(109, 109, 255);
    border: none;
  
    
  }
  .form-class{
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  .para{
    font-size:small;
  }
  .separator{
    margin-top: -6vh;
    font-size: small;
  }
  .create-account-class-ptag{
    font-weight: bold;
    font-size: small;
  }
  .back-login-class{
  display: flex;
  justify-content: center;
  
  border: 3 solid lightgray;
  height: 30px;
  }
  .login-back-adjust{
    width: 100%;
  }