.Login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: #f4f4f4; */
    background: url(../Assets/img4.jfif); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .LoginForm {
    background-color:#fff;
    color:rgb(44, 41, 41);
    border: 1px solid #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .LoginForm-h2 {
    margin-bottom: 20px;
  }
  
  .LoginForm-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: larger;
  }
  
  .LoginForm-inp {
    width: 300px;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: large;
    outline: none;

  }
  
  .ErrorMessage {
    color: red;
    margin-bottom: 10px;
  }
  
  .LoginForm-but {
    background-color:blue;
    width: 320px;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: 15px 0px;
    font-size: larger;
  }
  
  /* .LoginForm-but:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  } */
  .FormLinks a {
    font-size: large;
  }
  .register-link{
    font-size: large;
  }

  .Toastify__toast-container {
  width: 300px;
  position: fixed;
  margin-top: 1%;
  padding: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Toastify__toast {
  font-family: 'Arial', sans-serif;
  background-color: #333;
  color: #fff;
}

.Toastify__toast-body {
  padding: 15px;
}

.Toastify__close-button {
  color: #fff;
}

.Toastify__progress-bar {
  background: #fff;
}
